<h1><%= @list.title %></h1>

<ul class="items">
  <% @list.items.each do |item| %>
    <li id="<%= dom_id(item) %>">
      <%= item.content %>
      <%= link_to "Edit", edit_list_item_path(item) %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Item", new_list_item_path %>
</p>