<h1><%= @list.title %></h1>

<table class="table table-striped items">
  <tbody>
  <% @list.items.each do |item| %>
    <tr id="<%= dom_id(item) %>">
      <td><%= item.content %></td>
      <% if item.completed? %>
        <td><%= item.completed_at %></td>
      <% else %>
        <td><%= link_to "Mark Complete", complete_list_item_path(item), method: :patch %></td>
      <% end %>
      <td><%= link_to "Edit", edit_list_item_path(item) %></td>
      <td><%= link_to "Delete", list_item_path(item), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= link_to "New Item", new_list_item_path %>
</p>