<h1><%= @list.title %></h1>

<ul class="items">
  <% @list.items.each do |item| %>
    <li id="<%= dom_id(item) %>">
      <%= item.content %>
      <% if item.completed? %>
        <%= item.completed_at %>
      <% else %>
        <%= link_to "Mark Complete", complete_list_item_path(item), method: :patch %>
      <% end %>
      <%= link_to "Edit", edit_list_item_path(item) %>
      <%= link_to "Delete", list_item_path(item), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "New Item", new_list_item_path %>
</p>